<?xml version="1.0"?>
<clickhouse>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>

    <logger>
        <level>information</level>
        <console>1</console>
    </logger>

    <users_config>users.d/users.xml</users_config>

    <!-- Keeper configuration -->
    <keeper_server>
        <tcp_port>9181</tcp_port>
        <server_id>1</server_id>
        <log_storage_path>/var/lib/clickhouse/coordination/log</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>
        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>warning</raft_logs_level>
        </coordination_settings>
        <raft_configuration>
            <server>
                <id>1</id>
                <hostname>ch-node1</hostname>
                <port>9234</port>
            </server>
            <server>
                <id>2</id>
                <hostname>ch-node2</hostname>
                <port>9234</port>
            </server>
        </raft_configuration>
    </keeper_server>

    <!-- Zookeeper (Keeper) connection -->
    <zookeeper>
        <node>
            <host>ch-node1</host>
            <port>9181</port>
        </node>
        <node>
            <host>ch-node2</host>
            <port>9181</port>
        </node>
    </zookeeper>

    <!-- Cluster configuration -->
    <remote_servers>
        <my_cluster>
            <shard>
                <replica>
                    <host>ch-node1</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>ch-node2</host>
                    <port>9000</port>
                </replica>
            </shard>
        </my_cluster>
    </remote_servers>

    <macros>
        <cluster>my_cluster</cluster>
        <shard>1</shard>
        <replica>ch-node1</replica>
    </macros>

    <interserver_http_port>9009</interserver_http_port>
    <interserver_http_host>ch-node1</interserver_http_host>
    <!-- Reduce system table bloat -->
<asynchronous_metric_log>
    <ttl>toIntervalDay(3)</ttl>
    <flush_interval_milliseconds>60000</flush_interval_milliseconds>
</asynchronous_metric_log>

<trace_log>
    <ttl>toIntervalDay(1)</ttl>
    <flush_interval_milliseconds>60000</flush_interval_milliseconds>
</trace_log>

<processors_profile_log>
    <ttl>toIntervalDay(1)</ttl>
    <flush_interval_milliseconds>60000</flush_interval_milliseconds>
</processors_profile_log>

<part_log>
    <ttl>toIntervalDay(3)</ttl>
    <flush_interval_milliseconds>60000</flush_interval_milliseconds>
</part_log>

<histogram_metric_log>
    <ttl>toIntervalDay(3)</ttl>
    <flush_interval_milliseconds>60000</flush_interval_milliseconds>
</histogram_metric_log>

<metric_log>
    <ttl>toIntervalDay(7)</ttl>
    <flush_interval_milliseconds>60000</flush_interval_milliseconds>
</metric_log>

<query_log>
    <ttl>toIntervalDay(7)</ttl>
    <flush_interval_milliseconds>60000</flush_interval_milliseconds>
</query_log>

<text_log>
    <ttl>toIntervalDay(3)</ttl>
    <flush_interval_milliseconds>60000</flush_interval_milliseconds>
    <level>warning</level>
</text_log>

</clickhouse>

