[clickhouse]
10.0.0.1 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_rsa

[clickhouse_keeper]
10.0.0.1 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_rsa

[kafka]
10.0.0.1 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_rsa

[all:vars]
ansible_python_interpreter=/usr/bin/python3
