## ─── Network ───────────────────────────────────────────────────
bind {{ redis_bind }}
port {{ redis_port }}
protected-mode {{ redis_protected_mode }}

## ─── Systemd Integration ───────────────────────────────────────
supervised systemd

## ─── Security ──────────────────────────────────────────────────
requirepass {{ redis_password }}

## ─── Storage ───────────────────────────────────────────────────
dir {{ redis_data_path }}

## ─── Logging ───────────────────────────────────────────────────
logfile {{ redis_log_file }}
loglevel notice

## ─── Memory ────────────────────────────────────────────────────
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}

## ─── Persistence ───────────────────────────────────────────────
{% for save in redis_save %}
save {{ save }}
{% endfor %}
appendonly {{ redis_appendonly }}
